.row {
  cursor: pointer;
}

.row:hover {
  background-color: var(--paper-hover-color);
}

.previousCommands {
  padding: 0;
  height: 100%;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}

.status {
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  width: 50%;
}

.name {
  font-weight: bold;
}

.done {
  background-color: var(--completed);
}

.queued {
  background-color: var(--queued);
}

.running {
  background-color: var(--running);
}

.table {
  height: 100%;
}

.loader {
  height: 17.5rem;
  background-color: transparent;
  padding: 1rem;
}
