.applications {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.application {
  background-color: var(--integration-bg-color);
  padding: 0.125rem;
  border-radius: 0.125rem;

  width: 100%;
  text-align: center;

  display: flex;
  gap: 0.25rem;

  align-items: center;
  justify-content: center;
}

.applicationStatus {
  font-family: monospace;
  padding: 0.125rem;
  border-radius: 0.125rem;
}

.synced {
  background-color: var(--synced);
}

.outOfSync {
  background-color: var(--outOfSync);
}
