@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-bg-color: #ffffff;
  --dark-bg-color: #121212;
  --paper-hover-color: #403d3d42;
  --overview-bg: #1a1919;
  --completed: rgba(48, 254, 2, 0.25);
  --running: rgba(2, 52, 254, 0.25);
  --queued: rgba(238, 255, 0, 0.25);
  --integration-bg-color: rgba(125, 125, 121, 0.284);
  --blue-highlight: rgba(38, 31, 168, 0.628);
  --kuma-status-up: rgba(48, 254, 2, 0.497);
  --kuma-status-down: rgba(254, 2, 2, 0.497);
  --kuma-status-up-circle: rgba(14, 46, 6, 0.497);
  --kuma-status-up-down: rgba(46, 6, 6, 0.497);
  --paper-opaque-bg: rgba(8, 8, 8, 0.75);
  --paper-opaque-dark: rgba(0, 0, 0, 0.5);
  --paper-hover-color: rgba(61, 61, 61);
  --failed: rgba(254, 2, 2, 0.25);
  --synced: rgba(48, 254, 2, 0.75);
  --outOfSync: rgba(238, 255, 0, 0.75);
  font-size: 20px;
}

.Toastify__toast-icon {
  width: 30px !important;
  height: 30px !important;
}

.Toastify__toast-body {
  font-size: 0.75rem !important;
}

html {
  height: 100vh;
  width: 100vw;
}

body,
#__next,
.mainWrapper {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.is-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.half {
  width: 50%;
}

.is-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.MuiTableContainer-root {
  padding: 0;
}

.full {
  width: 100%;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

::-webkit-scrollbar {
  display: none;
}
