@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-bg-color: #ffffff;
  --dark-bg-color: #121212;
  --completed: rgba(48, 254, 2, 0.25);
  --running: rgba(2, 52, 254, 0.25);
  --queued: rgba(238, 255, 0, 0.25);
  font-size: 20px;
}

html {
  height: 100vh;
  width: 100vw;
}

body,
#__next,
.mainWrapper {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.is-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.half {
  width: 50%;
}

.is-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.MuiTableContainer-root {
  padding: 0;
}

.full {
  width: 100%;
}
