@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-bg-color: #ffffff;
  --dark-bg-color: #121212;
  --paper-hover-color: #403d3d;
  --overview-bg: #1a1919;
  --completed: rgba(48, 254, 2, 0.25);
  --running: rgba(2, 52, 254, 0.25);
  --queued: rgba(238, 255, 0, 0.25);
  --integration-bg-color: rgba(125, 125, 121, 0.284);
  --blue-highlight: rgba(38, 31, 168, 0.714);
  font-size: 20px;
}

.Toastify__toast-icon {
  width: 80px !important;
  height: 80px !important;
}

html {
  height: 100vh;
  width: 100vw;
}

body,
#__next,
.mainWrapper {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background: linear-gradient(to top, rgba(0, 0, 112, 0.5), rgba(11, 8, 20, 0.734));
}

.is-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.half {
  width: 50%;
}

.is-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.MuiTableContainer-root {
  padding: 0;
}

.full {
  width: 100%;
}
