.runningContainers {
  display: flex;
  border-radius: 0.125rem;
  width: fit-content;

  flex: 0 !important;
}

.containerCount {
  display: flex;
  align-items: center;

  padding: 0.25rem;
  border-radius: 0.125rem;
  margin-top: 0.5rem;
  width: fit-content;

  background-color: var(--blue-highlight);
}

.shipIcon {
  font-size: 1rem;
  margin-right: 0.25rem;
}
