.overview {
  background-color: var(--paper-opaque-dark);
}

.gridWrapper {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridWrapper div {
  flex: 1;
}

.buttons {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

.topRow {
  gap: 1rem;
  display: flex;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.hostOverview {
  margin-top: 1rem;
}

.tags {
  width: 50%;
}
