.manage-button {
  margin-top: 10px;
  align-self: flex-end;
}

.card {
  background-color: var(--paper-opaque-bg);
}

.host-card {
  min-height: 12.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.loader {
  height: 12.25rem;
}
