.server-manager-container {
  padding: 20px;
}

.overview:hover {
  background-color: var(--paper-hover-color);
  cursor: pointer;
}

.servers {
  margin-bottom: 1rem;
}

.integrations {
  display: flex;
  gap: 1rem;
}
